# Visual Studio
.vs/

# Binaries
[Bb]in/
[Oo]bj/

# NuGet
*.nuget.props
*.nuget.targets
*.nupkg
*.snupkg
*.suo
*.user
*.userosf
*.sln.docstates
*.vc.opendb
*.sdf
*.cache
*.aps
*.bsc
*.sbr
*.pdb
*.idb
*.lib
*.exp
*.res
*.pch
*.ilk
*.obj
*.log
*.bak
*.ncb
*.opendb
*.opensdf
*.tlog
*.vshost
*.vspscc
*.vssscc
*.builds
*.pidb
*.log
*.orig
*.rej
*.scc
*.tmp
*.xps
*.err
*.pgm
*.stat
*.ipch
*.aps
*.bsc
*.sbr
*.pdb
*.idb
*.lib
*.exp
*.res
*.pch
*.ilk
*.obj
*.log
*.bak
*.ncb
*.opendb
*.opensdf
*.tlog
*.vshost
*.vspscc
*.vssscc
*.builds
*.pidb
*.log
*.orig
*.rej
*.scc
*.tmp
*.xps
*.err
*.pgm
*.stat
*.ipch